In [21]:
# LOOPS

# repeated work
# lines of code reduce
# code reusable
# efficiency increase

In [22]:
# BREAK AND CONTINUE

In [23]:
# FOR LOOP

# iterable = jiske har element ko access kia jasky

In [24]:
students = ['asad','ali','daad','hassan']

In [25]:
for student in students:
    print(student.capitalize())

Asad
Ali
Daad
Hassan

In [26]:
for char in 'Pakistan':
    print(char)

P
a
k
i
s
t
a
n

In [27]:
# to generate set of numbers
# range -> (start,stop-1,step)

In [28]:
for i in range(10):
    print('nighat raza')

nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza

In [29]:
# break
# breaks on that condition and doesnot return to the loop

In [30]:
for student in students:
    if student.endswith('i'):
        break
    print(student.capitalize())

Asad

In [31]:
for a in range(5):
    if a==3: break
    print(a)

0
1
2

In [32]:
# continue
# skip that condition and continues the loop

In [33]:
for a in range(10):
    if a%7==0: continue
    print(a)

1
2
3
4
5
6
8
9

In [34]:
# wap that takes 5 values from user and classify them as odds and even lists

In [38]:
odd=[]; even=[]
for i in range(5):
    inp = int(input('enter number\n'))
    if inp%2==0: even.append(inp)
    else: odd.append(inp)
print('even',even)
print('odd',odd)

enter number
0
enter number
2
enter number
3
enter number
4
enter number
1
even [0, 2, 4]
odd [3, 1]

In [1]:
evens = []; odds = []
nums = input('enter comma separated numbers\n').split(',')
for strnum in nums:
    if strnum.isnumeric():
        num = int(strnum)
        if num%2==0: evens.append(num)
        elif num%2!=0: odds.append(num)
        else: break
print('evens:',evens)
print('odds:',odds)

enter comma separated numbers
3,4,2
evens: [4, 2]
odds: [3]

In [39]:
# LIST COMPREHENSION

In [44]:
odds=[]
for i in range(1,20,2): odds.append(i)
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [47]:
[i for i in range(1,20,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [54]:
# odd
[i for i in range(20) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [55]:
# even
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
# even
[i for i in range(2,20,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [57]:
# odd
[i for i in range(1,20,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [61]:
# even odd
print('odds',[i for i in range(1,20,2)])
print('evens',[i for i in range(2,20,2)])

odds [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
evens [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
# while loop

In [17]:
i=1
while i<=10:
    print('nighat raza')
    i+=1

nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza
nighat raza

In [76]:
a=0
while a<10:print(a);a+=1
a

0
1
2
3
4
5
6
7
8
9

10

In [77]:
a=10
while a>0:print(a);a-=1
a

10
9
8
7
6
5
4
3
2
1

0

In [ ]:
# FLAG

In [85]:
guests= []
flag = True
while flag:
    guestname = input('enter guest name or press \'q\' to exit\n')
    if guestname=='q': flag=False
    else: guests.append(guestname)
print(guests)

enter guest name or press 'q' to exit
dsdad
enter guest name or press 'q' to exit
nhgng
enter guest name or press 'q' to exit
ee
enter guest name or press 'q' to exit
rer
enter guest name or press 'q' to exit
q
['dsdad', 'nhgng', 'ee', 'rer']

In [ ]:
guestname = input('enter guest name or press \'q\' to exit\n').split()
i = 0
while i!=len(guestname)-1:
    if guestname[i]=='q': break
    guests.append(guestname[i])
    i+=1

In [86]:
# DICTIONARIES

In [87]:
type({})

dict

In [91]:
d = {'name':'nighat','age':18,23:False}
type(d)

dict

In [90]:
s = {2}
type(s)

set

In [92]:
d[23]

False

In [93]:
d.keys()

dict_keys(['name', 'age', 23])

In [94]:
d.values()

dict_values(['nighat', 18, False])

In [97]:
d['45.4'] = 'yellow23'
d

{'name': 'nighat', 'age': 18, 23: False, 45.4: 'yellow23', '45.4': 'yellow23'}

In [99]:
d.pop('45.4')

'yellow23'

In [101]:
for key in d:
    print(key,d[key])

name nighat
age 18
23 False
45.4 yellow23

In [104]:
for key in d.keys():
    print(key)

name
age
23
45.4

In [105]:
for value in d.values():
    print(value)

nighat
18
False
yellow23

In [106]:
for key,value in d.items():
    print(key,value)

name nighat
age 18
23 False
45.4 yellow23

In [115]:
for a in d.items(): #unpacking as a tuple (values2)
    print(a)

('name', 'nighat')
('age', 18)
(23, False)
(45.4, 'yellow23')

In [107]:
d.items()

dict_items([('name', 'nighat'), ('age', 18), (23, False), (45.4, 'yellow23')])

In [108]:
# PACKING AND UNPACKING

In [109]:
# packing
alist = [2,3]

In [110]:
# unpacking
nighat,raza = alist

In [111]:
raza

3

In [114]:
a = 100,22
a

(100, 22)

In [116]:
x,y = a

In [117]:
x

45.4

In [118]:
y

'yellow23'